#header {
    background-color: #dbd9d9;
    height: 40px;
  }
  #footer {
    background-color: #dbd9d9;
    height: 40px;
  }
  #main {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
 }
 .div1,
.div2 {
  width: 50vw;
  
}
.div3{
  width:50vw;
}