#header {
  height: 20px;
}

#main {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  color: white;
  flex-direction: column;
}
.div1,
.div2,
.div3 {
  width: 100vw;
  height: 10rem;
}
#footer {
  height: 20px;
}
