
header {
    width: 100%;
    background-color: #d1d2d4;
    height: 8vh;
  }
  
  .container-a {
    margin-top: 3vh;
    background-color: #ef4036;
    width: 100%;
    height: 26vh;
  }
  
  .container-b {
    background-color: #fcb040;
    height: 26vh;
    width: 100%;
  }
  
  .container-c {
    background-color: #f5ee31;
    height: 26vh;
    width: 100%;
  }
  
  footer {
    margin-top: 3vh;
    background-color: #d1d2d4;
    width: 100%;
    height: 8vh;
  }